<div class='col-md-6'>{{story.author}} -- {{story.human_time}}</div>
<div class='col-md-1'>{{story.score}}</div>
<div class='col-md-1'>
  <button class='fill-all' {{action 'toggleRead' story.id}}>
    {{#if story.read}}●{{else}}○{{/if}}
  </button>
</div>
