<div>
  {{#if controllers.application.unreadButtonsInIndex}}
  <button {{action 'toggleRead' id}}>
    {{#if read}}●{{else}}○{{/if}}
  </button>
  {{/if}}
  <a {{bind-attr href="url"}} {{action 'toggleFocus' story}}>{{title}} - {{feed.name}}</a>
</div>
<div class='container-fluid'>
  <div class='row story-summary-info'>
    <div class='col-md-6'>{{author}} -- {{human_time}}</div>
    <div class='col-md-1'>{{sharecount}}</div>
  </div>
  <div class='row story-summary'>
    <div class='col-md-12'>{{partial 'stories/story-details'}}</div>
  </div>
</div>
