<span style="display: inline;">
  {{#if read}}
  <p><button {{action 'toggleRead'}}>Mark Unread</button></p>
  {{else}}
  <p><button {{action 'toggleRead'}}>Mark Read</button></p>
  {{/if}}

  <p><button {{action 'toggleShowInIframe'}}>Preview</button></p>
  <p>
    <button {{action 'nextStory'}}>Next</button>
    <button {{action 'prevStory'}}>Prev</button>
  </p>
</span>
