<div class='row'>
  <div class='col-md-1'>
    <button class='fill-all' {{action 'prevStory'}}>◀</button>
  </div>
  <div class='col-md-3'>
  </div>
  <div class='col-md-1'>
    {{#if read}}
    <button class='fill-all' {{action 'toggleRead'}}>●</button>
    {{else}}
    <button class='fill-all' {{action 'toggleRead'}}>○</button>
    {{/if}}
  </div>

  <div class='col-md-2'>
    <button class='fill-all' {{action 'toggleShowInIframe'}}>
      {{#if showInIframe}}
        {{#if sandboxIframe}}
        RSS
        {{else}}
        Sandbox
        {{/if}}
      {{else}}
        Preview
      {{/if}}
    </button>
  </div>
  <div class='col-md-4'>
  </div>
  <div class='col-md-1'>
    <button class='fill-all' {{action 'nextStory'}}>▶</button>
  </div>
</div>
