<p>Show Read: <button {{action toggleShowRead}}>{{showReadStories}}</button></p>
{{#if showReadStories}}
  {{#each story in model}}
    {{partial 'stories/story-small'}}
  {{/each}}
{{else}}
  {{#each story in unreadStories}}
    {{partial 'stories/story-small'}}
  {{/each}}
{{/if}}
