<a target="_blank" {{bind-attr href="feed_url"}}>{{feed_url}}</a>
<div class="hidden">
  {{storiesLeft}}
</div>
<ul>
  {{#if showReadStories}}
    {{#each story in model}}
    <li>{{#link-to 'story' story}}{{story.title}}{{/link-to}}</li>
    {{/each}}
  {{else}}
    {{#each story in unreadStories}}
    <li>{{#link-to 'story' story}}{{story.title}}{{/link-to}}</li>
    {{/each}}
  {{/if}}
</ul>
