<div class="container-fluid">
  <div class="hidden">
    {{storiesLeft}}
  </div>
  <div class="row">
    {{#if showReadStories}}
      {{#each story in model}}
        {{render 'story' story}}
      {{/each}}
    {{else}}
      {{#each story in unreadStories}}
        {{render 'story' story}}
      {{/each}}
    {{/if}}
  </div>
  <div class="row">
    <button {{action 'loadNextPage'}}>Next</button>
  </div>
</div>
