<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <button {{action toggleShowRead}}>{{#if showReadStories}}All{{else}}Unread{{/if}}</button>
    </div>
    <div class="col-md-1">
      <button {{action cycleSort}}>{{controllers.application.storySort}}</button>
    </div>
  </div>
  <div class="row">
    {{#if showReadStories}}
      {{#each story in model}}
        {{partial 'stories/story-small'}}
      {{/each}}
    {{else}}
      {{#each story in unreadStories}}
        {{partial 'stories/story-small'}}
      {{/each}}
    {{/if}}
  </div>
  <div class="row">
    <button {{action loadNextPage}}>Next</button>
  </div>
</div>
