<div class='container-fluid'>
  <div class='row'>
    <p>{{unreadCount}}</p>
  </div>
  <div class='row'>
    <button {{action 'toggleSidebar'}}>
      {{#if showFeeds}}&lt;--{{else}}--&gt;{{/if}}
    </button>
    <div {{bind-attr class='showFeeds:col-md-3:hidden'}}>
      <input id="add_feed"/>
      <button {{action 'add_feed'}}>Add feed</button>
      <p>Show Read: <button {{action toggleShowRead}}>{{controllers.application.showRead}}</button></p>
      <p>Sort: <button {{action cycleSort}}>{{controllers.application.storySort}}</button></p>
      <div>
        <div {{bind-attr class="isRecomputing:show:hidden"}}>
          {{recomputeStatus}}
        </div>
        <button {{action 'recomputeScores'}} {{bind-attr disabled='isRecomputing'}} >{{rescoreMessage}}</button>
      </div>
      <div>{{#link-to 'feeds.all'}}All Stories{{/link-to}}</div>
      <div><h3>Feeds</h3></div>
      <ul>
        {{#each}}
        <li>
        {{#link-to 'stories' id}}({{unread_count}}) {{name}}{{/link-to}}
        </li>
        {{/each}}
      </ul>
    </div>
    <div {{bind-attr class='showFeeds:col-md-9:col-md-12'}}>
      {{outlet}}
    </div>
  </div>
</div>
