<div class='container-fluid'>
  <div class='row'>
    <p>{{unreadCount}}</p>
  </div>
  <div class='row'>
    {{partial 'feeds/show-hide'}}
    <div {{bind-attr class='showFeeds:col-md-3:hidden'}}>
      {{partial 'feeds/feed-controls'}}
      {{partial 'feeds/feed-story-list'}}
    </div>
    <div {{bind-attr class='showFeeds:col-md-9:col-md-12'}}>
      {{outlet}}
    </div>
  </div>
</div>

