<div class='container-fluid'>
  <div class='row'>
    <p>{{unreadCount}}</p>
  </div>
  <div class='row'>
    <button class="btn btn-default" {{action 'toggleSidebar'}}>
      {{#if showFeeds}}«{{else}}»{{/if}}
    </button>
    <div {{bind-attr class='showFeeds:col-md-3:hidden'}}>
      <div>{{#link-to 'feeds.all'}}All Stories{{/link-to}}</div>
      <div>{{#link-to 'settings'}}Settings{{/link-to}}</div>
      <div>{{#link-to 'help'}}Help{{/link-to}}</div>
      <div><h3>Feeds</h3></div>
      <ul class='no-bullet'>
        {{#each}}
        <li>
        <img class="favicon" {{bind-attr src=faviconUrl}} alt="favicon">
        {{#link-to 'stories' id}}({{unread_count}}) {{name}}{{/link-to}}
        </li>
        {{/each}}
      </ul>
    </div>
    <div {{bind-attr class='showFeeds:col-md-9:col-md-12'}}>
      {{outlet}}
    </div>
  </div>
</div>
