<a target="_blank" {{bind-attr href="feed_url"}}>{{feed_url}}</a>
<ul>
{{#if showReadStories}}
  {{#each story in model}}
    {{partial 'feeds/feed-story-small'}}
  {{/each}}
{{else}}
  {{#each story in unreadStories}}
    {{partial 'feeds/feed-story-small'}}
  {{/each}}
{{/if}}
</ul>
