<h2 class="no-show-link">
  <a target="_blank" {{bind-attr href="feed_url" title="field_title"}} >{{feed_title}}</a>
</h2>
{{#link-to 'feeds.edit' model_feed}}Edit{{/link-to}}
<div class="hidden">
  {{storiesLeft}}
</div>
<ul>
{{#each story in filteredContent}}
  {{render 'story' story}}
{{/each}}
</ul>
<div class="row">
  {{page-numbers content=content}}
</div>
