<a target="_blank" {{bind-attr href="feed_url"}}>{{feed_url}}</a>
<ul>
{{#if showReadStories}}
  {{#each story in model}}
    {{render 'story' story}}
  {{/each}}
{{else}}
  {{#each story in unreadStories}}
    {{render 'story' story}}
  {{/each}}
{{/if}}
</ul>
